# store data into array

In [1]:
import sys
import numpy as np

filename = "cities.csv" #it can be .txt or .csv 
X = []
y = []

with open(filename, 'r') as f:
    for line in f.readlines():
        data = [(i) for i in line.split(',')]
        print(data)
        #split and store data in arrays as you wish
        xt = data[:-1] #just discard last
        yt = data[-1] #use only last
        X.append(xt)
        y.append(yt)

['"LatD"', ' "LatM"', ' "LatS"', ' "NS"', ' "LonD"', ' "LonM"', ' "LonS"', ' "EW"', ' "City"', ' "State"\n']
['   41', '    5', '   59', ' "N"', '     80', '   39', '    0', ' "W"', ' "Youngstown"', ' OH\n']
['   42', '   52', '   48', ' "N"', '     97', '   23', '   23', ' "W"', ' "Yankton"', ' SD\n']
['   46', '   35', '   59', ' "N"', '    120', '   30', '   36', ' "W"', ' "Yakima"', ' WA\n']
['   42', '   16', '   12', ' "N"', '     71', '   48', '    0', ' "W"', ' "Worcester"', ' MA\n']
['   43', '   37', '   48', ' "N"', '     89', '   46', '   11', ' "W"', ' "Wisconsin Dells"', ' WI\n']
['   36', '    5', '   59', ' "N"', '     80', '   15', '    0', ' "W"', ' "Winston-Salem"', ' NC\n']
['   49', '   52', '   48', ' "N"', '     97', '    9', '    0', ' "W"', ' "Winnipeg"', ' MB\n']
['   39', '   11', '   23', ' "N"', '     78', '    9', '   36', ' "W"', ' "Winchester"', ' VA\n']
['   34', '   14', '   24', ' "N"', '     77', '   55', '   11', ' "W"', ' "Wilmington"', ' NC\n']
['   39', '   45', '    0', ' "N"', '     75', '   33', '    0', ' "W"', ' "Wilmington"', ' DE\n']
['   48', '    9', '    0', ' "N"', '    103', '   37', '   12', ' "W"', ' "Williston"', ' ND\n']
['   41', '   15', '    0', ' "N"', '     77', '    0', '    0', ' "W"', ' "Williamsport"', ' PA\n']
['   37', '   40', '   48', ' "N"', '     82', '   16', '   47', ' "W"', ' "Williamson"', ' WV\n']
['   33', '   54', '    0', ' "N"', '     98', '   29', '   23', ' "W"', ' "Wichita Falls"', ' TX\n']
['   37', '   41', '   23', ' "N"', '     97', '   20', '   23', ' "W"', ' "Wichita"', ' KS\n']
['   40', '    4', '   11', ' "N"', '     80', '   43', '   12', ' "W"', ' "Wheeling"', ' WV\n']
['   26', '   43', '   11', ' "N"', '     80', '    3', '    0', ' "W"', ' "West Palm Beach"', ' FL\n']
['   47', '   25', '   11', ' "N"', '    120', '   19', '   11', ' "W"', ' "Wenatchee"', ' WA\n']
['   41', '   25', '   11', ' "N"', '    122', '   23', '   23', ' "W"', ' "Weed"', ' CA\n']
['   31', '   13', '   11', ' "N"', '     82', '   20', '   59', ' "W"', ' "Waycross"', ' GA\n']
['   44', '   57', '   35', ' "N"', '     89', '   38', '   23', ' "W"', ' "Wausau"', ' WI\n']
['   42', '   21', '   36', ' "N"', '     87', '   49', '   48', ' "W"', ' "Waukegan"', ' IL\n']
['   44', '   54', '    0', ' "N"', '     97', '    6', '   36', ' "W"', ' "Watertown"', ' SD\n']
['   43', '   58', '   47', ' "N"', '     75', '   55', '   11', ' "W"', ' "Watertown"', ' NY\n']
['   42', '   30', '    0', ' "N"', '     92', '   20', '   23', ' "W"', ' "Waterloo"', ' IA\n']
['   41', '   32', '   59', ' "N"', '     73', '    3', '    0', ' "W"', ' "Waterbury"', ' CT\n']
['   38', '   53', '   23', ' "N"', '     77', '    1', '   47', ' "W"', ' "Washington"', ' DC\n']
['   41', '   50', '   59', ' "N"', '     79', '    8', '   23', ' "W"', ' "Warren"', ' PA\n']
['   46', '    4', '   11', ' "N"', '    118', '   19', '   48', ' "W"', ' "Walla Walla"', ' WA\n']
['   31', '   32', '   59', ' "N"', '     97', '    8', '   23', ' "W"', ' "Waco"', ' TX\n']
['   38', '   40', '   48', ' "N"', '     87', '   31', '   47', ' "W"', ' "Vincennes"', ' IN\n']
['   28', '   48', '   35', ' "N"', '     97', '    0', '   36', ' "W"', ' "Victoria"', ' TX\n']
['   32', '   20', '   59', ' "N"', '     90', '   52', '   47', ' "W"', ' "Vicksburg"', ' MS\n']
['   49', '   16', '   12', ' "N"', '    123', '    7', '   12', ' "W"', ' "Vancouver"', ' BC\n']
['   46', '   55', '   11', ' "N"', '     98', '    0', '   36', ' "W"', ' "Valley City"', ' ND\n']
['   30', '   49', '   47', ' "N"', '     83', '   16', '   47', ' "W"', ' "Valdosta"', ' GA\n']
['   43', '    6', '   36', ' "N"', '     75', '   13', '   48', ' "W"', ' "Utica"', ' NY\n']
['   39', '   54', '    0', ' "N"', '     79', '   43', '   48', ' "W"', ' "Uniontown"', ' PA\n']
['   32', '   20', '   59', ' "N"', '     95', '   18', '    0', ' "W"', ' "Tyler"', ' TX\n']
['   42', '   33', '   36', ' "N"', '    114', '   28', '   12', ' "W"', ' "Twin Falls"', ' ID\n']
['   33', '   12', '   35', ' "N"', '     87', '   34', '   11', ' "W"', ' "Tuscaloosa"', ' AL\n']
['   34', '   15', '   35', ' "N"', '     88', '   42', '   35', ' "W"', ' "Tupelo"', ' MS\n']
['   36', '    9', '   35', ' "N"', '     95', '   54', '   36', ' "W"', ' "Tulsa"', ' OK\n']
['   32', '   13', '   12', ' "N"', '    110', '   58', '   12', ' "W"', ' "Tucson"', ' AZ\n']
['   37', '   10', '   11', ' "N"', '    104', '   30', '   36', ' "W"', ' "Trinidad"', ' CO\n']
['   40', '   13', '   47', ' "N"', '     74', '   46', '   11', ' "W"', ' "Trenton"', ' NJ\n']
['   44', '   45', '   35', ' "N"', '     85', '   37', '   47', ' "W"', ' "Traverse City"', ' MI\n']
['   43', '   39', '    0', ' "N"', '     79', '   22', '   47', ' "W"', ' "Toronto"', ' ON\n']
['   39', '    2', '   59', ' "N"', '     95', '   40', '   11', ' "W"', ' "Topeka"', ' KS\n']
['   41', '   39', '    0', ' "N"', '     83', '   32', '   24', ' "W"', ' "Toledo"', ' OH\n']
['   33', '   25', '   48', ' "N"', '     94', '    3', '    0', ' "W"', ' "Texarkana"', ' TX\n']
['   39', '   28', '   12', ' "N"', '     87', '   24', '   36', ' "W"', ' "Terre Haute"', ' IN\n']
['   27', '   57', '    0', ' "N"', '     82', '   26', '   59', ' "W"', ' "Tampa"', ' FL\n']
['   30', '   27', '    0', ' "N"', '     84', '   16', '   47', ' "W"', ' "Tallahassee"', ' FL\n']
['   47', '   14', '   24', ' "N"', '    122', '   25', '   48', ' "W"', ' "Tacoma"', ' WA\n']
['   43', '    2', '   59', ' "N"', '     76', '    9', '    0', ' "W"', ' "Syracuse"', ' NY\n']
['   32', '   35', '   59', ' "N"', '     82', '   20', '   23', ' "W"', ' "Swainsboro"', ' GA\n']
['   33', '   55', '   11', ' "N"', '     80', '   20', '   59', ' "W"', ' "Sumter"', ' SC\n']
['   40', '   59', '   24', ' "N"', '     75', '   11', '   24', ' "W"', ' "Stroudsburg"', ' PA\n']
['   37', '   57', '   35', ' "N"', '    121', '   17', '   24', ' "W"', ' "Stockton"', ' CA\n']
['   44', '   31', '   12', ' "N"', '     89', '   34', '   11', ' "W"', ' "Stevens Point"', ' WI\n']
['   40', '   21', '   36', ' "N"', '     80', '   37', '   12', ' "W"', ' "Steubenville"', ' OH\n']
['   40', '   37', '   11', ' "N"', '    103', '   13', '   12', ' "W"', ' "Sterling"', ' CO\n']
['   38', '    9', '    0', ' "N"', '     79', '    4', '   11', ' "W"', ' "Staunton"', ' VA\n']
['   39', '   55', '   11', ' "N"', '     83', '   48', '   35', ' "W"', ' "Springfield"', ' OH\n']
['   37', '   13', '   12', ' "N"', '     93', '   17', '   24', ' "W"', ' "Springfield"', ' MO\n']
['   42', '    5', '   59', ' "N"', '     72', '   35', '   23', ' "W"', ' "Springfield"', ' MA\n']
['   39', '   47', '   59', ' "N"', '     89', '   39', '    0', ' "W"', ' "Springfield"', ' IL\n']
['   47', '   40', '   11', ' "N"', '    117', '   24', '   36', ' "W"', ' "Spokane"', ' WA\n']
['   41', '   40', '   48', ' "N"', '     86', '   15', '    0', ' "W"', ' "South Bend"', ' IN\n']
['   43', '   32', '   24', ' "N"', '     96', '   43', '   48', ' "W"', ' "Sioux Falls"', ' SD\n']
['   42', '   29', '   24', ' "N"', '     96', '   23', '   23', ' "W"', ' "Sioux City"', ' IA\n']
['   32', '   30', '   35', ' "N"', '     93', '   45', '    0', ' "W"', ' "Shreveport"', ' LA\n']
['   33', '   38', '   23', ' "N"', '     96', '   36', '   36', ' "W"', ' "Sherman"', ' TX\n']
['   44', '   47', '   59', ' "N"', '    106', '   57', '   35', ' "W"', ' "Sheridan"', ' WY\n']
['   35', '   13', '   47', ' "N"', '     96', '   40', '   48', ' "W"', ' "Seminole"', ' OK\n']
['   32', '   25', '   11', ' "N"', '     87', '    1', '   11', ' "W"', ' "Selma"', ' AL\n']
['   38', '   42', '   35', ' "N"', '     93', '   13', '   48', ' "W"', ' "Sedalia"', ' MO\n']
['   47', '   35', '   59', ' "N"', '    122', '   19', '   48', ' "W"', ' "Seattle"', ' WA\n']
['   41', '   24', '   35', ' "N"', '     75', '   40', '   11', ' "W"', ' "Scranton"', ' PA\n']
['   41', '   52', '   11', ' "N"', '    103', '   39', '   36', ' "W"', ' "Scottsbluff"', ' NB\n']
['   42', '   49', '   11', ' "N"', '     73', '   56', '   59', ' "W"', ' "Schenectady"', ' NY\n']
['   32', '    4', '   48', ' "N"', '     81', '    5', '   23', ' "W"', ' "Savannah"', ' GA\n']
['   46', '   29', '   24', ' "N"', '     84', '   20', '   59', ' "W"', ' "Sault Sainte Marie"', ' MI\n']
['   27', '   20', '   24', ' "N"', '     82', '   31', '   47', ' "W"', ' "Sarasota"', ' FL\n']
['   38', '   26', '   23', ' "N"', '    122', '   43', '   12', ' "W"', ' "Santa Rosa"', ' CA\n']
['   35', '   40', '   48', ' "N"', '    105', '   56', '   59', ' "W"', ' "Santa Fe"', ' NM\n']
['   34', '   25', '   11', ' "N"', '    119', '   41', '   59', ' "W"', ' "Santa Barbara"', ' CA\n']
['   33', '   45', '   35', ' "N"', '    117', '   52', '   12', ' "W"', ' "Santa Ana"', ' CA\n']
['   37', '   20', '   24', ' "N"', '    121', '   52', '   47', ' "W"', ' "San Jose"', ' CA\n']
['   37', '   46', '   47', ' "N"', '    122', '   25', '   11', ' "W"', ' "San Francisco"', ' CA\n']
['   41', '   27', '    0', ' "N"', '     82', '   42', '   35', ' "W"', ' "Sandusky"', ' OH\n']
['   32', '   42', '   35', ' "N"', '    117', '    9', '    0', ' "W"', ' "San Diego"', ' CA\n']
['   34', '    6', '   36', ' "N"', '    117', '   18', '   35', ' "W"', ' "San Bernardino"', ' CA\n']
['   29', '   25', '   12', ' "N"', '     98', '   30', '    0', ' "W"', ' "San Antonio"', ' TX\n']
['   31', '   27', '   35', ' "N"', '    100', '   26', '   24', ' "W"', ' "San Angelo"', ' TX\n']
['   40', '   45', '   35', ' "N"', '    111', '   52', '   47', ' "W"', ' "Salt Lake City"', ' UT\n']
['   38', '   22', '   11', ' "N"', '     75', '   35', '   59', ' "W"', ' "Salisbury"', ' MD\n']
['   36', '   40', '   11', ' "N"', '    121', '   39', '    0', ' "W"', ' "Salinas"', ' CA\n']
['   38', '   50', '   24', ' "N"', '     97', '   36', '   36', ' "W"', ' "Salina"', ' KS\n']
['   38', '   31', '   47', ' "N"', '    106', '    0', '    0', ' "W"', ' "Salida"', ' CO\n']
['   44', '   56', '   23', ' "N"', '    123', '    1', '   47', ' "W"', ' "Salem"', ' OR\n']
['   44', '   57', '    0', ' "N"', '     93', '    5', '   59', ' "W"', ' "Saint Paul"', ' MN\n']
['   38', '   37', '   11', ' "N"', '     90', '   11', '   24', ' "W"', ' "Saint Louis"', ' MO\n']
['   39', '   46', '   12', ' "N"', '     94', '   50', '   23', ' "W"', ' "Saint Joseph"', ' MO\n']
['   42', '    5', '   59', ' "N"', '     86', '   28', '   48', ' "W"', ' "Saint Joseph"', ' MI\n']
['   44', '   25', '   11', ' "N"', '     72', '    1', '   11', ' "W"', ' "Saint Johnsbury"', ' VT\n']
['   45', '   34', '   11', ' "N"', '     94', '   10', '   11', ' "W"', ' "Saint Cloud"', ' MN\n']
['   29', '   53', '   23', ' "N"', '     81', '   19', '   11', ' "W"', ' "Saint Augustine"', ' FL\n']
['   43', '   25', '   48', ' "N"', '     83', '   56', '   24', ' "W"', ' "Saginaw"', ' MI\n']
['   38', '   35', '   24', ' "N"', '    121', '   29', '   23', ' "W"', ' "Sacramento"', ' CA\n']
['   43', '   36', '   36', ' "N"', '     72', '   58', '   12', ' "W"', ' "Rutland"', ' VT\n']
['   33', '   24', '    0', ' "N"', '    104', '   31', '   47', ' "W"', ' "Roswell"', ' NM\n']
['   35', '   56', '   23', ' "N"', '     77', '   48', '    0', ' "W"', ' "Rocky Mount"', ' NC\n']
['   41', '   35', '   24', ' "N"', '    109', '   13', '   48', ' "W"', ' "Rock Springs"', ' WY\n']
['   42', '   16', '   12', ' "N"', '     89', '    5', '   59', ' "W"', ' "Rockford"', ' IL\n']
['   43', '    9', '   35', ' "N"', '     77', '   36', '   36', ' "W"', ' "Rochester"', ' NY\n']
['   44', '    1', '   12', ' "N"', '     92', '   27', '   35', ' "W"', ' "Rochester"', ' MN\n']
['   37', '   16', '   12', ' "N"', '     79', '   56', '   24', ' "W"', ' "Roanoke"', ' VA\n']
['   37', '   32', '   24', ' "N"', '     77', '   26', '   59', ' "W"', ' "Richmond"', ' VA\n']
['   39', '   49', '   48', ' "N"', '     84', '   53', '   23', ' "W"', ' "Richmond"', ' IN\n']
['   38', '   46', '   12', ' "N"', '    112', '    5', '   23', ' "W"', ' "Richfield"', ' UT\n']
['   45', '   38', '   23', ' "N"', '     89', '   25', '   11', ' "W"', ' "Rhinelander"', ' WI\n']
['   39', '   31', '   12', ' "N"', '    119', '   48', '   35', ' "W"', ' "Reno"', ' NV\n']
['   50', '   25', '   11', ' "N"', '    104', '   39', '    0', ' "W"', ' "Regina"', ' SA\n']
['   40', '   10', '   48', ' "N"', '    122', '   14', '   23', ' "W"', ' "Red Bluff"', ' CA\n']
['   40', '   19', '   48', ' "N"', '     75', '   55', '   48', ' "W"', ' "Reading"', ' PA\n']
['   41', '    9', '   35', ' "N"', '     81', '   14', '   23', ' "W"', ' "Ravenna"', ' OH \n']
['\n']

In [2]:
X[5]

['   43',
 '   37',
 '   48',
 ' "N"',
 '     89',
 '   46',
 '   11',
 ' "W"',
 ' "Wisconsin Dells"']

# using pandas

In [9]:
import pandas as pd

df = pd.read_csv("cities.csv")

In [4]:
df.head()

,LatD,"""LatM""","""LatS""","""NS""","""LonD""","""LonM""","""LonS""","""EW""","""City""","""State"""
0,41,5,59,"""N""",80,39,0,"""W""","""Youngstown""",OH
1,42,52,48,"""N""",97,23,23,"""W""","""Yankton""",SD
2,46,35,59,"""N""",120,30,36,"""W""","""Yakima""",WA
3,42,16,12,"""N""",71,48,0,"""W""","""Worcester""",MA
4,43,37,48,"""N""",89,46,11,"""W""","""Wisconsin Dells""",WI

In [13]:
df[' "State"'][2]

' WA'